<h3>Er is een klacht / opmerking ingediend!</h3>

<strong>Klacht ID:</strong> {{ klacht.id }} <br>
<strong>Klacht:</strong> <br>{{ klacht.klachtText }} <br><br>
<strong>Datum:</strong> {{ klacht.datumingediend|date("d-m-Y") }}
