{% extends 'layout.html.twig' %}

{% block title %} Artikelen | Categorie updaten {% endblock %}

{% block content %}

  {#SHISHA MODE OFF#}
  {% if app.session.get('mode') == 'default' %}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <h5>Categorie updaten</h5>

          {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

          {{ form_row(form.naam) }}

          <button type="button" class="btn btn-danger btn-sm" onclick="window.history.back()"><i
                    class="fas fa-arrow-left"></i> Terug
          </button>
          <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i> Updaten</button>

          {{ form_widget(form._token) }}
          {{ form_end(form, {'render_rest': false}) }}
        </div>
      </div>
    </div>

    {#SHISHA MODE ON#}
  {% elseif app.session.get('mode') == 'shisha' %}
    <div class="row">
      <span class="alert alert-danger">Pagina niet beschikbaar in shisha mode.</span>
    </div>
  {% endif %}

{% endblock %}