{% extends 'mainpages/mainpages.layout.html.twig' %}

{% block title %}AestedCompany{% endblock %}

{% block body %}
  {% block clearbody %}
    <div class="container">
      <div class="card mx-auto mt-5">
        <div class="card-header">Inloggen</div>
        <div class="card-body">
          <form action="{{ path('login') }}" method="post">
            <div class="form-group">
              <div class="form-label-group">
                <label for="username">Gebruikersnaam:</label>
                <input type="text" name="_username" id="username" class="form-control" placeholder="Gebruikersnaam" autofocus="autofocus" value="{{ last_username }}">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label for="password">Wachtwoord:</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Wachtwoord">
              </div>
            </div>
            <input type="hidden" name="_target_path" value="/producten">
            <input type="submit" name="inloggen" class="btn btn-primary btn-block" value="Inloggen">
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}