{% extends 'shisha/shisha.layout.html.twig' %}

{% block title %}Shisha | Artikelen toevoegen{% endblock %}
{% block active0 %}active{% endblock %}

{% block body %}
  <h5>Shisha pen toevoegen:</h5>
  {{ form_start(form , {attr: {novalidate: 'novalidate'}})}}
  {{ form_widget(form) }}
  <a class="btn btn-danger btn-sm mb-5" href="{{ path('shishaArtikelen') }}"><i class="fas fa-arrow-left"></i> Terug</a>
  <button type="submit" class="btn btn-primary btn-sm mb-5"><i class="fas fa-plus"></i> Toevoegen</button>
  {{ form_end(form) }}
{% endblock %}