{% extends 'layout.html.twig' %}

{% block title %} Financiën | Overzicht {% endblock %}

{% block content %}
  <div class="row">

    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <h5>Bestellingen per maand:</h5>



      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <h5>Omzet per maand:</h5>



      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <h5>Winst per maand:</h5>



      </div>
    </div>

  </div>
{% endblock %}