<h3>Er is een klacht / opmerking ingediend!</h3>

<strong>Opmerking ID:</strong> {{ opmerking.id }} <br>
<strong>Opmerking:</strong> <br>{{ opmerking.opmerking }} <br><br>
<strong>Datum:</strong> {{ opmerking.datum|date("d-m-Y") }}
